@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 255 115 179;
    --color-secondary: 111 114 185;
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;
  }
}